:root {
  --page-width: 1200px;
  --font-family: 'Lato', sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: rgba(80, 30, 150,1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  height: auto;
  width: 100%;
}

.ant-dropdown-menu {
  padding: 6px;
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.ant-form-item-explain, .ant-form-item-extra {
  font-size: 12px;
}

.ant-table-content {
  border: 1px solid #f0f0f0;
}
