<ul>
  <li>
    <h2>{{ post?.title }}</h2>
  </li>
  <li>
    <h4>Content</h4>
    <p>{{ post?.content }}</p>
  </li>
  <li *ngIf="post?.imageUrl">
    <h4>Photo</h4>
    <img [src]="post?.imageUrl" alt="Post image">
  </li>
  <li *ngIf="post?.lat && post?.lat">
    <h4>Location</h4>
    <app-post-map [post]="post"></app-post-map>
  </li>
  <li>
    <h4>Created At</h4>
    <p>{{ post?.createdAt | date: 'medium' }}</p>
  </li>
  <li>
    <h4>Updated At</h4>
    <p>{{ post?.updatedAt | date: 'medium' }}</p>
  </li>
</ul>
