<form
  [formGroup]="form"
  nz-form
  nzLayout="vertical"
  (ngSubmit)="submit()"
>
  <nz-form-item>
    <nz-form-control class="post-form__control" [nzErrorTip]="errorTemplate">
      <nz-form-label for="title">Title</nz-form-label>
      <input nz-input nzSize="large" formControlName="title" id="title" name="title" type="text">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control class="post-form__control" [nzErrorTip]="errorTemplate">
      <nz-form-label for="content">Content</nz-form-label>
      <textarea class="post-form__text-area" nz-input nzSize="large" formControlName="content" id="content" name="content" type="text"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control class="post-form__control">
      <nz-form-label for="lat">Latitude</nz-form-label>
      <input nz-input nzSize="large" formControlName="lat" id="lat" name="lat" type="text">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control class="post-form__control">
      <nz-form-label for="long">Longitude</nz-form-label>
      <input nz-input nzSize="large" formControlName="long" id="long" name="long" type="text">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control class="post-form__control">
      <nz-form-label for="imageUrl">Image URL</nz-form-label>
      <input nz-input nzSize="large" formControlName="imageUrl" id="imageUrl" name="imageUrl" type="text">
    </nz-form-control>
  </nz-form-item>
  <div class="post-form__button-wrap">
    <button nz-button nzSize="large" nzType="primary" type="submit" [nzBlock]="true">Submit</button>
  </div>
</form>
<ng-template #errorTemplate let-control>
  <ng-container *ngIf="this.control.hasError('required')">
    Required fields
  </ng-container>
</ng-template>
