<div class="posts">
  <div class="posts__container">
    <h1 class="posts__title">Posts</h1>
    <div class="posts__box">
      <app-posts-table-container></app-posts-table-container>
    </div>
  </div>
</div>
