.posts {
  display: flex;
  align-items: center;
  min-height: 100vh;
  max-width: var(--page-width);
  margin-right: auto;
  margin-left: auto;
  padding: 5rem 2.4rem;
}

.posts__title {
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
}

.posts__box {
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: rgb(255, 255, 255);
}
