.posts-table__header {
  margin-bottom: 24px;
}

.posts-table__dropdown {
  display: flex;
  align-items: center;

  button {
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
  }
}
