<div class="posts-table">
  <header class="posts-table__header">
    <button (click)="createPost.emit()" nzType="primary" nz-button type="button">Add Post</button>
  </header>
  <nz-table class="posts-table__nz-table" #postsTable [nzData]="posts" nzTableLayout="fixed" [nzShowPagination]="false">
    <thead>
    <tr>
      <th nzWidth="150px">Title</th>
      <th nzWidth="825px">Content</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr class="posts-table__row" *ngFor="let post of postsTable.data.slice().reverse()">
      <td>{{post.title}}</td>
      <td nzEllipsis>{{post.content}}</td>
      <td>
        <div class="posts-table__dropdown">
          <button nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomRight" type="button" nzTrigger="click">
            <i nz-icon nzType="ellipsis" nzTheme="outline"></i>
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item>
                <button (click)="showPost.emit(post?.id)" type="button">Show Post</button>
              </li>
              <li nz-menu-item>
                <button (click)="editPost.emit(post)" type="button">Edit</button>
              </li>
              <li nz-menu-item>
                <button (click)="removePost.emit(post)" type="button">Delete</button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
<nz-modal [nzVisible]="showModal" (nzOnCancel)="hideModal.emit()" [nzFooter]="null" [nzContent]="nzModalContent">
</nz-modal>
<ng-template #nzModalContent>
  <app-show-post [post]="showingPost"></app-show-post>
</ng-template>
