<div class="post-form-drawer">
  <header>
    <h2 class="post-form-drawer__title">
      <ng-container *ngIf="post">Edit Post</ng-container>
      <ng-container *ngIf="!post">Create Post</ng-container>
    </h2>
  </header>
  <app-post-form [post]="post" (updatePost)="updatePost($event)" (createPost)="createPost($event)"></app-post-form>
</div>

